.DS_Store
.ipynb_checkpoints/
resources/test.csv
resources/train.csv
resources/test.txt
resources/train.txt
resources/sample_submission.csv
Resources/test.csv
Resources/train.csv
Resources/sample_submission.csv